#----General
#----Folders
.qtcreator/
.vscode/
build/
#----Files
Database/ServerDatabase



#----Data
#----Folders
#----Files



#----Client
#----Folders
Client/.qtcreator/
Client/.vs/
Client/build/
#----Files
Client/*.txt.user*



#----Server
#----Folders
Server/.qtcreator/
Server/.vs/
Server/build/
#----Files
Server/*.txt.user*
