#----General
#----Folders
.vscode/
#----Files
database/server_data



#----Data
#----Folders
#----Files



#----Client
#----Folders
client/.qtcreator/
client/.vs/
client/build/
#----Files
client/*.txt.user*



#----Server
#----Folders
server/.qtcreator/
server/.vs/
server/build/
#----Files
server/*.txt.user*
